# Dictionaries

Key- value pairs, use curly brackets to define them

In [1]:
namedict={'Name':'Pablo','Last Name': 'Crespo' }

In [2]:
namedict

{'Name': 'Pablo', 'Last Name': 'Crespo'}

In [3]:
namedict['Name']

'Pablo'

In [4]:
namedict['Pablo']

KeyError: 'Pablo'

In [5]:
namedict={'Pablo': 'Crespo' , 'Pablo': 'Picasso' }

In [6]:
namedict

{'Pablo': 'Picasso'}

In [7]:
namedict['Pablo']

'Picasso'

In [8]:
#Let's replace this, I hate it
namedict['Pablo']='Crespo'

In [9]:
namedict['Pablo']

'Crespo'

In [10]:
dataex={'ID':['3122','1253', '7564'], 'Age':[20,22,31], 'Height':[160, 172, 180]}

In [14]:
print(dataex['ID'][1],dataex['Age'][1])

1253 22

In [17]:
unstruct={"Name":'Pablo', 'Residenbces':['New York', 'California', 'Texas'], 'Age':28}

In [19]:
unstruct['Residenbces']

['New York', 'California', 'Texas']

# Length function and type function

In [20]:
listnum=[2,5,4,2]

string='letters'

num=3.2333

In [21]:
len(num)

TypeError: object of type 'float' has no len()

In [22]:
print(len(listnum))

print(len(string))

4
7

In [23]:
print(type(listnum))
print(type(string))
print(type(num))

<class 'list'>
<class 'str'>
<class 'float'>

# Changing types

In [27]:
s = '12.34' 

f = float(s) 

print(type(s))
print(type(f)) 
#print(s+32)
print(f+32)

<class 'str'>
<class 'float'>
44.34

In [28]:
s = "12.56"

q= float(s)
i = int(q) 

print(type(i))

<class 'int'>

In [29]:
i

12

## Strings as lists?

In [30]:
Song="total eclipse of the heart"

list(Song)

['t',
 'o',
 't',
 'a',
 'l',
 ' ',
 'e',
 'c',
 'l',
 'i',
 'p',
 's',
 'e',
 ' ',
 'o',
 'f',
 ' ',
 't',
 'h',
 'e',
 ' ',
 'h',
 'e',
 'a',
 'r',
 't']

In [32]:
len(Song)

26

In [33]:
Song[4]

'l'

In [34]:
#We don't even have to do this!!!

a = "califragilisticexpialidocious"
print([a[0], a[1], a[2]])

['c', 'a', 'l']

In [35]:
#Slice!

a[0:7]

'califra'

In [36]:
a[5:8]

'rag'

In [37]:
a[9:]

'listicexpialidocious'

In [38]:
a[:9]

'califragi'

*Exercise*. What is the result of list(str(int(float('12.34'))))? Why?

In [39]:
list(str(int(float('12.34'))))

['1', '2']

In [44]:
list(str(int(float('12.34'))))

['1', '2']

**Exercise (challenging).** This one is tricky, but it came up in some work we  were doing. Suppose year is a string containing the year of a particular piece of data; for example, year = '2015'. 
How would we construct a **string** for the following year?

In [45]:
str(int('2015')+1)

'2016'

In [49]:
year='2015'

year[0:3]

'201'

In [51]:
year[0:3]+'6'

'2016'

In [46]:
year='2015'

extrayear=[1,2,3,4,5]

[str(int (year)+i) for i in extrayear]

['2016', '2017', '2018', '2019', '2020']

# Booleans

In [52]:
3>2

True

In [53]:
2<1

False

In [54]:
type(3>2)

bool

In [55]:
5=7

SyntaxError: cannot assign to literal (<ipython-input-55-20b50f3811f6>, line 1)

In [56]:
5==7

False

In [57]:
5!=7

True

'not' is a logical negation

In [58]:
test = not 1 > 0 
print(test)

False

In [59]:
test = not 1 > 2 
print(test)

True

In [60]:
print("sarah" == 'Sarah')

False

In [61]:
print(type('Sarah') == str) 
print(type('Sarah') == int) 
print(len('Sarah') >= 3)

True
False
True

In [62]:
"A">"B"

False

In [63]:
"B">"A"

True

https://en.wikipedia.org/wiki/List_of_Unicode_characters

In [64]:
ord("A")

65

In [65]:
ord("B")

66

# IF/ELSE

In [69]:
if len("pear") >len('apple'):
    print('The statement was true!')
else:
    print('The statement was false')

The statement was false

In [71]:
x = 'potato'

condition = len(x) > 6

if condition:
    print('if branch')           
    print(condition)
else:
    print('else branch')    
    print(condition)

else branch
False

Take the names name1 and name2, both of them strings. Write a program using if and else that prints the name that comes first in alphabetical order. Test your program with name1 = 'Dave' and name2 = 'Glenn'.

In [73]:
name1='Thomas'
name2='Paul'

if name1>name2:
    print(name2)
else:
    print(name1)

Paul

# Ranges

In [74]:
range(7)

range(0, 7)

In [75]:
list(range(7))

[0, 1, 2, 3, 4, 5, 6]

In [76]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

# For loops

In [77]:
myabc='abcdefghijklmnopqrstuvwxyz'


for letter in myabc:
    print(letter)

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z

In [78]:
#Remember a?
a

'califragilisticexpialidocious'

In [79]:
list(range(0,len(a),2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [86]:
print(a[2], a[3], a[4])

l i f

In [88]:
len(a)

29

In [81]:
for i in range(0,len(a),2):
    print(a[i])

c
l
f
a
i
i
t
c
x
i
l
d
c
o
s

In [87]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [82]:
for number in range(1, 11):
    square = number**2
    
    print('Number and its square:', number, square)

Number and its square: 1 1
Number and its square: 2 4
Number and its square: 3 9
Number and its square: 4 16
Number and its square: 5 25
Number and its square: 6 36
Number and its square: 7 49
Number and its square: 8 64
Number and its square: 9 81
Number and its square: 10 100

# List comprehension

In [83]:
namelist = ['Chase', 'Dave', 'Sarah', 'Spencer']

for item in namelist:
    
    print(item)

Chase
Dave
Sarah
Spencer

In [89]:
[item for item in namelist]

['Chase', 'Dave', 'Sarah', 'Spencer']

In [90]:
list(range(1,len(namelist),2))

[1, 3]

In [91]:
# we can also easily just make a list here of every second name

[namelist[i] for i in list(range(1,len(namelist),2))]

['Dave', 'Spencer']

In [92]:
fruit = ['apple', 'banana', 'clementine'] 

FRUIT = [item.upper() for item in fruit] 

print(FRUIT)

['APPLE', 'BANANA', 'CLEMENTINE']

In [93]:
numbering=[ 0,4,7,5,2,1,14]

[number for number in numbering if number>=5]

[7, 5, 14]

In [94]:
#Get me a list with every positive even number from 1 to 13

[number for number in list(range(0,14,2))if number>0]

[2, 4, 6, 8, 10, 12]

In [95]:
[number for number in list(range(2,14,2))]

[2, 4, 6, 8, 10, 12]

# FUNCTIONS!

In [96]:
def sum(x,y):
    return x+y

In [98]:
sum(x=3,y=7)

10

In [99]:
#Returns with tuples!

def squareme(number):
    
    return number**2, number

In [100]:
squareme(5)

(25, 5)

In [101]:
#can save those tuple elements

n,m=squareme(3)

In [102]:
n

9

In [103]:
m

3

In [104]:
# Any operation you have learned works inside these functions
#make one that takes a first name and a last name and gives us the full name


def fullname(first, last):
    full=first+" "+last
    return full

In [106]:
fullname(first=1, last='Crespo')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [107]:
#if I try with numbers

fullname(3,2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

- **Exercise.** Use the function above and write a program so that last letter of each item in the list names = ['Chase', Dave', 'Sarah', 'Spencer'] is printed

In [108]:
def lastlet(list1):
    reslist=[name[len(name)-1] for name in list1]
    return reslist

In [109]:
names=['Chase', 'Dave', 'Sarah', 'Spencer']

lastlet(names)

['e', 'e', 'h', 'r']

# Objects


Functions, methods, and attributes differ primarily in their syntax:

* Syntax of a **function**: `function(object)`
* Syntax of a **method**: `object.method()`
* Syntax of a **attribute**: `object.attribute`

In [110]:
numberlist=[3,5,7,8,9,11]

In [111]:
numberlist.append(357)

In [112]:
numberlist

[3, 5, 7, 8, 9, 11, 357]

In [113]:
stagename = "Chase"

In [114]:
stagename.lower()

'chase'

In [116]:
x = "How many characters and words are in this string?"

In [117]:
x.rsplit()

['How', 'many', 'characters', 'and', 'words', 'are', 'in', 'this', 'string?']