In [ ]:
import numpy as np
import pandas as pd

## More Chipotle

![More Chipotle](https://i.chzbgr.com/full/8551473152/hC206DDA6/funny-memes-titanic-chipotle)

In [ ]:
chipurl= 'https://raw.githubusercontent.com/TheUpshot/chipotle/master/orders.tsv'

df_chipotle=pd.read_csv(chipurl, sep='\t')

In [ ]:
df_chipotle.head()

We are gonna explore one more way to turn the *item_price* column to floats

In [ ]:
df_chipotle['float_price'] =df_chipotle['item_price'].str.strip().str.replace('$','',regex=True).astype(float)

In [ ]:
df_chipotle['item_price'].str.strip()

In [ ]:
df_chipotle['item_price'].str.strip().str.replace('$','', regex=True)[0]

In [ ]:
df_chipotle.head()

Let's explore the items people have bought

In [ ]:
df_chipotle['item_name'].unique()

In [ ]:
#Count how many we have

len(df_chipotle['item_name'].unique())

In [ ]:
df_chipotle['item_name'].nunique()

In [ ]:
df_chipotle['item_name'].value_counts()

I would like to find all the items that have chicken in them

In [ ]:
chipitems=pd.DataFrame(df_chipotle['item_name'].unique(), columns=['item'])

In [ ]:
chipitems

In [ ]:
#intermediate step
chipitems['item'].str.lower().str.contains('chicken')

In [ ]:
chickitems=chipitems[chipitems['item'].str.lower().str.contains('chicken')]
chickitems

Let's find what proportion of all items was each chicken item!

In [ ]:
df_chipotle.head()

First we need to be able to extract only the items that have chicken

In [ ]:
df_chicken=df_chipotle[df_chipotle['item_name'].isin(chickitems['item'])] 

df_chicken.head()

Let's group by to add the quantities of each item!

In [ ]:
df_chicken.groupby('item_name')['quantity'].sum()

In [ ]:
chicksum=pd.DataFrame(df_chicken.groupby('item_name')['quantity'].sum().reset_index())
chicksum.head()

In [ ]:
chicksum['proportion']=chicksum['quantity']/df_chipotle['quantity'].sum()

chicksum.head()

In [ ]:
chicksum['proportion'].sum()

Let's now try to get a dataframe that has a list of items and prices

In [ ]:
#First we know that for each unique item there is a unique price!
# A groupby can be our way

#we could use first, to get the first row of each price

pricedf=df_chipotle.groupby('item_name')['float_price'].first().reset_index()

pricedf.head(15)

In [ ]:
#Beware!!!
df_chipotle.groupby('item_name')['float_price'].mean().reset_index()

Let's get the items more expensive than seven dollars and let's sort them from most expensive to least

In [ ]:
pricedf[pricedf['float_price']>7].sort_values(by='float_price', ascending=False).head()

In [ ]:
#If we set it true (the default)

pricedf[pricedf['float_price']>7].sort_values(by='float_price').head()

In [ ]:
# We want to order the items in terms of price and quantity,  most expensive first

dfquant=pd.DataFrame(df_chipotle.groupby('item_name')['quantity'].sum().reset_index())

df=pricedf.merge(dfquant, how='inner', on='item_name')

df.head()

In [ ]:
dfquant.head()

In [ ]:
df.sort_values(by=['quantity', 'float_price'], ascending= False)

## Pivoting (sales data)

In [ ]:
file='sample_pivot.xlsx'

sales_df=pd.read_excel(file,parse_dates=['Date'])

In [ ]:
sales_df.head()

In [ ]:
#mean is default

sales_by_region = pd.pivot_table(sales_df, index = 'Region', values = 'Sales')
sales_by_region

In [ ]:
#can change to sum
total_by_region = pd.pivot_table(sales_df, index = 'Region', values = 'Sales', aggfunc='sum')
total_by_region

However, the real value is in quick multi indexing

In [ ]:
multi_index = pd.pivot_table(sales_df, index = ['Region', 'Type'], values = 'Sales', aggfunc = 'sum')
multi_index

In [ ]:
multi_functions = pd.pivot_table(sales_df, index = ['Region', 'Type'], values = 'Sales', aggfunc = ['sum', len])
multi_functions

In [ ]:
columns_example = pd.pivot_table(sales_df, index = 'Type', columns = 'Region', values = 'Units', aggfunc = 'sum')
columns_example

In [ ]:
columns_example.plot(kind='bar')

## QUICK PLOTTING (Serious plotting comes later!)

In [ ]:
%matplotlib inline

In [ ]:
gdp  = [13271.1, 13773.5, 14234.2, 14613.8, 14873.7, 14830.4, 14418.7,
        14783.8, 15020.6, 15369.2, 15710.3]
pce  = [8867.6, 9208.2, 9531.8, 9821.7, 10041.6, 10007.2, 9847.0, 10036.3,
        10263.5, 10449.7, 10699.7]
year = list(range(2003,2014))        # use range for years 2003-2013

# Note that we set the index
us = pd.DataFrame({'gdp': gdp, 'pce': pce}, index=year)

In [ ]:
us

In [ ]:
us['gdp'].plot()

In [ ]:
us.plot()

In [ ]:
us.plot(kind='line')

In [ ]:
us.plot.line()

In [ ]:
us['gdp'].plot.bar()

In [ ]:
us['gdp'].plot.barh()

In [ ]:
us['gdp'].plot.kde()

In [ ]:
us.plot.box(vert=False)

In [ ]:
us.plot.box()

In [ ]:
df_chipotle['float_price'].plot.hist()

In [ ]:
df_chipotle['float_price'].plot.hist(bins=20)

In [ ]:
df_chipotle.plot.scatter(x='quantity', y='float_price')

WHAT IS THAT PRICE?

In [ ]:
df_chipotle[df_chipotle['float_price']==max(df_chipotle['float_price'])]