# Data bootcamp
## Fall 2022
## Problem Set 2


## Write down your name and ID here.
## Names:                   
## NetIDs:

<h4>Instructions</h4>
<p>Instructions:


•   Submit your answers in a Jupyter notebook with proper markdown to indicate problem numbers

•   In‐line comments are preferred for this assignment but not mandatory

•   No explanations are expected at the end of answers

</p>
<p>You are required to type your answer in the column below each of the question. Remember to execute your code (Shift+Enter). You can insert cell and use #comments if necessary.

## Problems

#### These questions ask you to clean the data using string methods in pandas in conjunction with NumPy objects.


1.	Read the attached data set "master_data_ready.csv"[here](https://drive.google.com/file/d/1i9a8T7-2_43H7wJv78JJEQmGe-P-osJy/view?usp=sharing) to your notebook and store it in the variable "df". Modify the dataset to replace \N values everywhere in the dataset with NaN (np.NaN). Capitalize the first letter of each column name of the dataframe df and assign the new names to the columns of the dataset df. Use this same dataframe "df" to answer all the subsequent questions.

In [ ]:
#This is just example code where to read depends on where you save it


import pandas as pd
import numpy as np

df=pd.read_csv('master_data_ready.csv')

df.replace('\\N', np.nan, inplace=True)

2.     Using an appropriate pandas method present a column wise summary of nulls (or NaN), ergo let me know how many empty values there are per column.

In [ ]:
# Your code here

#### This question asks you to clean the data by using pandas to drop columns.

3.	Drop columns “Latitude” and “Longitude” from the data set and save the resulting dataset to a new data frame. Let’s call it Master_Clean.

In [1]:
# Your code here

#### These questions ask you to slice (filter) the data.

4.     Using Master_Clean: Display jobs for the state “NY” that were posted in 2018 and store it in dataframe Master_Clean_NY_2018

In [ ]:
# Your code here

5.	Using Master_Clean: Display jobs from all states other than the states “NY” and “CA” that offer a salary higher than 80,000 and store it in dataframe "High_Salary_filtered_states". Do NOT include jobs that have NaN values for state column.

In [ ]:
# Your code here

#### These questions ask you to clean and filter the data using pandas methods.

6.     Using Master_Clean: How many jobs have NaN in the Time_to_fill column? Replace all these nulls (or NaN) with the median of this column. Display first 25 and last 25 entries.

In [2]:
# Your code here

7.     Using Master_Clean: Display only company, posting date and salary of jobs that are listed for the state “NJ”. Exclude NaN from all columns.

In [ ]:
# Your code here

8.	Using Master_Clean: Use the isin method to display company, posting date, time to fill and salaries of jobs in the states “NC”, “PA” or “TX” and store it in dataframe "df_isin". Exclude NaN from all columns.

In [ ]:
# Your code here

9.     Using Master_Clean: Use the contains method to display city, state, county and regions of jobs that have “New York” or “Los Angeles‐Long” in their region state value.

In [ ]:
# Your code here

10.  Using Master_Clean: Display company, vertical, posting date and salaries for all jobs posted during the years 2017 and 2018 “Seattle” region states that had salaries higher than 80,000. Exclude NaN from company column.

Note: The region column does not contain just 'Seattle' as the region but we expect you to extract the string from the region column to compare if the string contains Seattle.

In [ ]:
# Your code here

11.  Using Master_Clean: Calculate the percentage of jobs offering a six‐figure salary or higher in the state “NY” in 2018.

In [ ]:
# Your code here

12.  Using Master_Clean: Calculate the percentage of job postings for the company “Wells Fargo” where the salary offered is above the mean of all salaries in the states of “NY” or “CA” and store it in 'df_above_average_salary')

In [ ]:
# Your code here