## Data Bootcamp Assignment 1 Instructions:

1. Submit your answers in a Jupyter notebook with proper markdown to indicate problem numbers and to write your answers. MAKE SURE TO PRINT ALL YOUR OUTPUTS FOR PROGRAMS THAT REQUIRE PYTHON CODES. Also, submit a pdf alongwith the notebook. Steps: Open File Menu -->  Download as --> HTML, Open the HTML File and Print it to save as a PDF.
2. For problem numbers 2 to 10, the statements should be run as a block of code, and explained after running in entirety
3. For problem numbers 14 to 20, all solutions must be programmatic. For example: when asked to count characters please apply a Python method to do so. Also, please make sure to print the output of your script. 
4. In-line comments are helpful but not mandatory
5. Explanations are expected to be brief, between 1 and 3 sentences
6. This assignment will require you to pair program. for this one pick a friend from the class to work together

## Names: 
## NETIDs:

## Problems:

Problem 1. 

Describe what each of these expressions produces in basic Python. Explain the difference between very similar expressions, if any.
a) 2+5 
b) 2 + 5 
c) 2*5 
d) 2/5 
e) 2**5

Answer 1.

Problem 2. What is the value of x after running these statements in order? Why? 
1. x=7
2. x=x+3

Answer 2.

Problem 3. What is the value of y after running these statements in order? Of x? Why?
1. x=3 
2. y=x
3. x = 10

Answer 3.

Problem 4. Does this code run without error? If so, what does it produce? If not, explain why.

x=3
x=x/2
y = 'abc'
z=y+y
print(x, z)

Answer 4.

5. Does this code run without error? If so, what does it produce? If not, explain why.

x=3
x=x/2
y = 'abc'
z=x+y
print(x, z)

Answer 5.

6. Does this code run without error? If so, what does it produce? If not, explain why.

x=3
y = 24
z = y/x
print(x, y, z, sep=' | ')

Answer 6.

7. Does this code run without error? If so, what does it produce? If not, explain why.

x=3
y = '24'
z = y/x
print(x, z)

Answer 7.

8. Does this code run without error? If so, what does it produce? If not, explain why.

x = "I am a #string" # Whoa, a string!

Answer 8.

9. Does this code run without error? If so, what does it produce? If not, explain why.

x = [1, 2, 3]
y = [42, 43]
z= x + y
print(z)

Answer 9.

10. Does this code run without error? If so, what does it produce? If not, explain why.

x = [1, 2, 3]
y = 42
z=x+y

Answer 10.

11. What data types are the following? Use type() function.
a) x1 = 12
b) x2 = 12.0
c) x3 = '12.0'
d) x4 = [12]
e) x5 = [12, 12.0, '12.0']

Answer 11. (Feel free to add another cell for using the type function)

12. Explain the result of each line:

a) type(42)
b) type(42.0)
c) type('42.0')
d) type("42.0")
e) type("""42.0""")
f) type([1, 2])
g) type([1] + [2])
h) type(1 + 2)
i) type(print)
j) type(float(str(int(‘1234’))))
k) type(int(float(’12.34’)))
l) len([1234])
m) len(“1234”)
n) len(1234)
o) type(2>1)
p) type(‘Itamar’ > ‘Chase’)

Answer 12.

13. What is the type and length of x=[]?

Answer 13.

14. Consider the integer x=1234
a) Convert x to a floating-point number
b) Convert x to a string
c) Convert x to the list [‘1’, ‘2’, ‘3’, ‘4’]

In [3]:
# Your code here (a)

In [4]:
# Your code here (b)

In [5]:
# Your code here (c)

In [ ]:
# Question 15

#15.1 extract (slice) the first element (the integer 1) from the list x below

x = [1, 2, "a", 'b', "fast", 'slow', 3, "Raghu", 'Liuren', 10]

In [ ]:
# Your answer here
# Note: Assign your answer to the variable "first_element"

first_element = 
print(first_element)

In [ ]:
# Question 15.2

# Extract (slice) the last element (the integer 10) from the list x below and 
# assign your answer to the variable "last_element"

# Your answer here
last_element = 
print(last_element)

In [ ]:
# Question 15.3

# Extract (slice) all the elements from the list x except the last element below and 
# assign your answer to the variable "all_but_last"

# Your answer here
all_but_last = 
print(all_but_last)

In [ ]:
# Question 15.4
#Slice out the items from ‘b’ to 3 inclusive and store in the variable 'slice_in_between'

slice_in_between = 
print(slice_in_between)

In [ ]:
# Question 15.5
#Using the same list x, write a code that prints every element on a new line 
# Your code here

In [ ]:
# Question 15.6
# Using the same list x, write a loop that prints every element of type str
# Your code here
# Hint: You can check if the data-type of your output is string or not by using the type() function

16. Consider x = ‘How many characters and words are in this string’. 

1. Write a code snippet to find how many characters does x contain?
2. Convert x to a list of individual characters.
3. Convert x to a list of individual words. Hint: use tab completion to find a method that splits x into pieces.
4. Write a code snippet to find how many words does x contain?
5. Capitalize first letter of each word in x? Hint: Use tab completion to find an appropriate method.

In [ ]:
#Your code here (16.1)

In [8]:
#Your code here (16.2)

In [7]:
#Your code here (16.3)

In [9]:
#Your code here (16.4)

In [ ]:
#Your code here (16.5)

In [14]:
# Question 17

In [ ]:
# Define a function pocket_change() that takes four integers 
# as inputs (numbers of pennies, nickels, dimes and quarters in your pocket) 
# and returns a floating point number (their dollar value). Run your program with the input (1, 2, 3, 4) 
# and display the output. 
# Report the value with a dollar sign and as a string datatype and no space and round it to two decimals. 

def pocket_change():             # you will need to pass the parameters in the function in the same order as asked.

In [15]:
#Question 18

first = 'Wilhelmina' last = 'Grubbly-Plank' Take the ‘first’ and ‘last’ variables defined in the cell above 
and do the following with them:

• Extract the first letter of ‘last’

• Split ‘last’ into two components at the hyphen using an appropriate method

• Define a new string variable named ‘combo’ which must be ‘first’ (the first name), a space, the first letter of ‘last’, and a period, in this order

• Define a function that takes as inputs first and last names (both strings) and returns combination (also a string, consisting of the first name plus space and the first letter of the last name and a period). Test it with your own name and also the variables ‘first’ and ‘last’.

In [16]:
# Question 18.1
# Split ‘last’ into two components at the hyphen using an appropriate method and print both the components
# Your code here

In [ ]:
# Question 18.2
# Define a new string variable named ‘combo’ which must be 
#‘first’ (the first name), a space, the first letter of ‘last’, and a period, in this order

#Your code here

combo =

• Define a function "combo_name" that takes as inputs first and last names (both strings) and returns combination (also a string, consisting of the first name plus space and the first letter of the last name and a period). Test it with your own name and also the variables ‘first’ and ‘last’.

In [1]:
def combo_name(first_name, last_name):
    #Your code here
    pass  #Remove pass while writing your code

In [ ]:
combined_name = combo_name("Prasham", "Sheth")
print(combined_name)

In [18]:
# Question 19
# Write a loop that sums the integers from zero to thirty that are multiples of three: 3, 6, etc. and print the output

#your code here

 Question 20

Refer to the list of strings below called "paren":
paren = ['When we went to town on Monday (it was so early!) everyone was falling asleep', 'It is obvious (so obvious) that I am going to get a good grade on this exam', 'As she sang her famous line (the one they wrote that article about) the crowd went wild']

1.   Loop through each item of the list and, for each item, replace the parentheses with a dash ("- ")
     so that there is a space on either side of each dash. Print the new items.

2.  For each item in the list, print the index of each of the parentheses. Hint: try running: str.find?

3.	Create a function that removes all parenthesized content including the parentheses. This function should return a new string that has all the content in the old string except the parenthesized content.

4.	Using function created in Part 3 above, create a new list that contains all the elements of the old list without parenthesized content (including parentheses).

In [3]:
#Question 20.1

#Your code here

In [4]:
#Question 20.2

#Your code here

In [6]:
#Question 20.3

#Your code here

In [5]:
#Question 20.4

#Your code here